@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}
header {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > a {
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 28px;
  background-color: #13183f;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
main {
  padding: 64px 160px 144px 160px;
}
.top-section {
  display: flex;
  padding-top: 110px;
  margin-bottom: 238px;
}

.left-side {
  min-height: 100px;
  width: 50%;
}
.left-side > h2 {
  font-weight: 800;
  font-size: 56px;
  color: #13183f;
  line-height: 67px;
  max-width: 457px;
}
.left-side > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #83869a;
  max-width: 457px;
  margin-top: 24px;
  margin-bottom: 40px;
}
.left-side > a {
  padding: 16px 32px;
  border-radius: 28px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  display: inline-block;
}
.right-side {
  min-height: 100px;
  width: 50%;
}
.right-side > img {
  position: absolute;
  top: -150px;
  right: -350px;
}

#popular-courses {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.courses-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem 1.5rem;
  justify-items: center;
}

#gradient-box {
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.course-box {
  width: 350px;
  height: 322px;
  border-radius: 15px;
  background: #fff;
  position: relative;
}

.course-box h2 {
  font-size: 32px;
  padding-top: 4rem;
  padding-left: 1.3rem;
  font-weight: 800;
  width: 90%;
  color: white;
}

.course-box-icon {
  margin-left: 1.5rem;
  margin-top: -1.5rem;
}

.course-box-text {
  padding-top: 1rem;
  padding-left: 1.7rem;
}

.course-box h3 {
  font-size: 24px;
  color: #13183f;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

.course-box p {
  padding-bottom: 1.5rem;
  color: #83869a;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 90%;
}

.course-box-link {
  color: #f74780;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
}

footer {
  background: #13183f;
  padding: 1rem 0rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-btn {
  color: white;
  background: var(
    --Gradient-2,
    linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
  );
  width: 167px;
  height: 56px;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.footer-btn:hover {
  background: var(
    --Gradient-2-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%)
  );
}
.container {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1400px) {
  .hero-text h1 {
    width: 80%;
  }

  .hero-text p {
    width: 60%;
  }

  .hero-desktop-img {
    display: none;
  }

  .hero-tablet-img {
    display: block;
    margin-right: -23rem;
    margin-top: -6rem;
  }

  .courses-content-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .hero-tablet-img {
    margin-right: -20rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero-text h1 {
    width: 90%;
  }

  .hero-text p {
    width: 55%;
  }

  .course-box {
    width: 340px;
  }
}

@media screen and (max-width: 932px) {
  .hero-text h1 {
    width: 100%;
  }

  .hero-text p {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .courses-content-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 0rem;
  }

  #gradient-box {
    height: 200px;
  }

  .course-box {
    width: 100%;
  }

  .course-box h2 {
    width: 65%;
  }

  .course-box p {
    width: 70%;
  }
}

@media screen and (max-width: 740px) {
  #hero {
    margin-top: 3rem;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-content-container {
    flex-direction: column;
  }

  .hero-tablet-img {
    display: none;
  }

  .hero-mobile-img {
    display: block;
    margin-top: 2rem;
  }

  #gradient-box {
    height: 280px;
  }
}

@media screen and (max-width: 320px) {
  .dark-btn {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }

  .hero-mobile-img img {
    width: 100%;
  }

  .course-box {
    height: 400px;
  }

  .footer-btn {
    width: 130px;
    height: 40px;
  }
}
